header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}

.character-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}